@charset "UTF-8";

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  background: #4c268f;
  color: #99eeb4;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);

  filter: url(#motion-blur-filter);
}

svg {
  display: none;
}

a {
  color: #ffffff;
}

a:hover {
  color: #000000;
}

.aeroplane {
  background: url(/PNG/backAero.jpg) no-repeat center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.spacer {
  flex: 1;
}

.footer {
  background: #000000;
  text-align: center;
  display: flex;
  height: 6vh;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #ffffff;
  height: 1vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
