<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Flight Price Prediction Web App</title>
    
   <!-- BootStrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>

  </head>
    <div class="aeroplane">
      <svg xmlns="http://www.w3.org/2000/svg">
        <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
          <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
        </filter>
      </svg>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <i class="material-icons">flight_takeoff</i> 
          <!--<i media="(max-width: 600px)">flight_takeoff</i>-->
          <div class="navbar-header">
            <span filter-content="S">FLIGHT PRICE</span>

          </div>
        </div>
      </nav>

      <br /><br /><br />

      <div class="container">
        <form action="\predict" method="post">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Departure Date</h5>
                  <!-- Departure -->
                  <input
                    type="datetime-local"
                    name="Dep_Time"
                    id="Dep_Time"
                    required="required"
                  />
                </div>
              </div>
            </div>
            <br />
            <br />
            <br />
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Duration (in Mins)</h5>
                  <!-- Arrival -->
                  <input
                    type="number"
                    id="duration"
                    name="duration"
                    min="15"
                    max="1500"
                    required="required"
                  />
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />
          <br />

          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <!-- Source -->
                  <h5 class="card-title">Source</h5>
                  <select name="Source" id="Source" required="required">
                    <option value="Delhi">Delhi</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Chennai">Chennai</option>
                  </select>
                  
              </div>
              </div>
            </div>


            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Destination</h5>
                  <!-- Destination -->
                  <select
                    name="Destination"
                    id="Destination"
                    required="required"
                  >
                    <option value="Cochin">Cochin</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Kolkata">Kolkata</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />
          <br />

          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Stopage</h5>
                  <!-- Total Stops -->
                  <select name="stops" required="required">
                    <option value="0">Non-Stop</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Select your choice of Airline:</h5>
                  <!-- Airline -->
                  <select name="airline" id="airline" required="required">
                    <option value="Jet Airways">Jet Airways</option>
                    <option value="IndiGo">IndiGo</option>
                    <option value="Air India">Air India</option>
                    <option value="Multiple carriers">Multiple carriers</option>
                    <option value="SpiceJet">SpiceJet</option>
                    <option value="Vistara">Vistara</option>
                    <option value="Air Asia">Air Asia</option>
                    <option value="GoAir">GoAir</option>
                    <option value="Multiple carriers Premium economy">
                      Multiple carriers Premium economy
                    </option>
                    <option value="Jet Airways Business">
                      Jet Airways Business
                    </option>
                    <option value="Vistara Premium economy">
                      Vistara Premium economy
                    </option>
                    <option value="Trujet">Trujet</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

         <br/>
          
          <button class="button" value="Submit">Submit</button>
        </form>
        
      </div>
      <br/>
  
        <h3 text-color="dead-blue">{{ prediction_text }}</h3>

        <br/>
        <br/>
      </div>
    </div>

    <div class="spacer"></>

    <div class="page-footer dead-blue">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h6 class="dead">Source Cities Available <br></h6>
            <ul style="list-style-type:none;" padding=0>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Delhi">Delhi</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Bangalore">Bangalore</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Kolkata">Kolkata</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Chennai">Chennai</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Mumbai">Mumbai</a></li>
            </ul>
  
          </div>
          <div class="col l3 s12">
            <h6 class="dead">Destination Cities Available </h6>
            <ul style="list-style-type:none;">
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Kochi">Cochin</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Delhi">Delhi</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Bangalore">Bangalore</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Hyderabad">Hyderabad</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Kolkata">Kolkata</a></li>
            </ul>
  
          </div>
  
          <div class="col l3 s12">
            <h6 class="dead">Airlines Available</h6>
            <ul style="list-style-type:none;">
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Jet_Airways">Jet Airways</a></li>
              <li><a class="white-text" href="https://www.goindigo.in/">IndiGo</a></li>
              <li><a class="white-text" href="http://www.airindia.in/">Air India</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Interlining#:~:text=Interlining%2C%20also%20known%20as%20interline,multiple%20flights%20on%20multiple%20airlines.">Multiple carriers</a></li>
              <li><a class="white-text" href="https://www.spicejet.com/">SpiceJet</a></li>
              <li><a class="white-text" href="https://www.airvistara.com/in/en">Vistara</a></li>
              <li><a class="white-text" href="https://www.goair.in/">GoAir</a></li>
              <li><a class="white-text" href="https://www.airasia.com/en/gb">Air Asia</a></li>
              <li> <a class="white-text" href="https://www.airvistara.com/in/en/vistara-experience/on-board/cabin#:~:text=Premium%20Economy%20customers%20also%20enjoy,fares%20for%20travel%20within%20India&text=10kg%20Hand%20Baggage%20allowance%20for%20travel%20within%20a">Vistara Premium economy</a></li>
              <li><a class="white-text" href="https://onemileatatime.com/jet-airways-a330-business-class/#:~:text=Jet%20Airways%20Business%20Class%20A330%20Seat&text=The%20cabin%20alternates%20between%20one,4%2D5%20seats%20per%20row.">Jet Airways Business</a></li>
              <li><a class="white-text" href="https://en.wikipedia.org/wiki/Premium_economy">Multiple carriers Premium economy</a></li>
              <li><a class="white-text" href="https://www.trujet.com/#/home">Trujet</a></li>
            </ul>
          </div>
  
          <div class="col l3 s12">
            <h5 class="dead">Connect</h5>
            <ul style="list-style-type:none;">
              <li><a class="white-text" href="Link here">Github</a></li>
            </ul>

          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <a class="dead">© Manish || Rahul || Kishal</a>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
